{% extends "base.html" %}

{% block auth_box %}{% endblock %}

{% block body %}

<form action="/auth" method="POST">
{% if user.is_anonymous %}
    <input type="hidden" name="do" value="login" />
    <fieldset id="login-box">
        <legend>Log In</legend>
        <ol>
            {{ auth_form.as_ul }}
            <li><label></label> <input type="submit" value="Log in" /></li>
        </ol>
    </fieldset>
{% else %}
    <input type="hidden" name="do" value="logout" />
    <fieldset id="login-box">
        <legend>You are logged in as {{ user.username }}.</legend>
        <ul>
            <li>View <a href="/people/{{ user.username }}">your songs</a>.</li>
            <li>View <a href="/">latest uploads</a>.</li>
            <li><label></label><input type="submit" value="Log out" /></li>
        </ul>
    </fieldset>
{% endif %}
</form>

{% endblock %}
