{% extends "base.html" %}
{% load music_hub_tags %}

{% block body %}
<h1>Music hub</h1>

<h3>Latest uploads</h3>

<ul>
{% for song in latest_uploads %}
    <li>
        {% song_link song %} <em>(from {% person_link song.owner %})</em>
    </li>
{% endfor %}
</ul>

<h3>People</h3>

<ul>
{% for person in people %}
    <li>{% person_link person %}</li>
{% endfor %}
</ul>

{% if logged_in %}
<p><a href="/upload">Upload!</a></p>
{% else %}
<p>You must <a href="/auth">log in</a> before uploading songs.</p>
{% endif %}
{% endblock %}
