{% extends "base.html" %}
{% load music_hub_tags %}

{% block title_h1 %}Music hub{% endblock %}

{% block body %}

<h3>Latest uploads</h3>

<ul id="songs">
{% for song in latest_uploads %}
    <li>
        <p>
            <a href="{{ song.get_download_url }}" class="dlink">[ download ]</a>
            <a href="{{ song.get_absolute_url }}">{{ song.original_name }}</a>
            <span class="ulink">( from <a href="/people/{{ song.owner.username }}">{{ song.owner.username }}</a> )</span>
        <object type="application/x-shockwave-flash" data="/media/music_hub/player.swf" id="{{ song.get_absolute_url }}" height="24" width="290">
            <param name="movie" value="/media/music_hub/player.swf">
            <param name="FlashVars" value="playerID=1&amp;soundFile={{ song.get_download_url }}">
            <param name="quality" value="high">
            <param name="menu" value="false">
            <param name="wmode" value="transparent">
        </object>
        
        </p>
    </li>
{% endfor %}
</ul>

<h3>People</h3>

<ul id="users">
{% for person in people %}
    <li>
        <a href="/people/{{ person.username }}">{{ person.username }}</a>
        {% if person.first_name or person.last_name %}
            <span>({{ person.first_name }} {{ person.last_name }})</span>
        {% endif %}
    </li>
{% endfor %}
</ul>

{% endblock %}
